<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,log4net" />
  </configSections>
  <log4net debug="true">
    <root>
      <level value="All" />
      <appender-ref ref="ADONetAppender" />
    </root>
    <appender name="ADONetAppender" type="log4net.Appender.AdoNetAppender">
      <bufferSize value="1"/>
      <connectionType value="MySql.Data.MySqlClient.MySqlConnection, MySql.Data"/>
      <!-- connectionString value="Server=172.29.29.44;Database=test_idu_odu; Uid=root;Pwd=248;"/ -->
      <connectionString value="server=localhost;uid=root;pwd=248;database=test_idu_odu;pooling=false;"/>
      <commandText value="INSERT INTO log_idu_odu(Date,Thread,Level,Logger,Message,Exception,Context, DCF, Username, Line) VALUES        (now(),?thread, ?log_level, ?logger, ?message, ?exception, ?context, ?DCF, ?Username, 'IDU')"/>
      <parameter>
        <parameterName value="DCF"/>
        <dbType value="String" />
        <size value="255" />
        <layout type="log4net.Layout.PatternLayout">
          <conversionPattern value="%property{DCF}" />
        </layout>
      </parameter>
      <parameter>
        <parameterName value="Username"/>
        <dbType value="String" />
        <size value="255" />
        <layout type="log4net.Layout.PatternLayout">
          <conversionPattern value="%property{Username}" />
        </layout>
      </parameter>
      <parameter>
        <parameterName value="log_date"/>
        <dbType value="DateTime"/>
        <layout type="log4net.Layout.RawTimeStampLayout"/>
      </parameter>
      <parameter>
        <parameterName value="thread"/>
        <dbType value="String"/>
        <size value="32"/>
        <layout type="log4net.Layout.PatternLayout">
          <conversionPattern value="%t"/>
        </layout>
      </parameter>
      <parameter>
        <parameterName value="log_level"/>
        <dbType value="String"/>
        <size value="512"/>
        <layout type="log4net.Layout.PatternLayout">
          <conversionPattern value="%p"/>
        </layout>
      </parameter>
      <parameter>
        <parameterName value="context"/>
        <dbType value="String"/>
        <size value="512"/>
        <layout type="log4net.Layout.PatternLayout">
          <conversionPattern value="%x"/>
        </layout>
      </parameter>
      <parameter>
        <parameterName value="logger"/>
        <dbType value="String"/>
        <size value="512"/>
        <layout type="log4net.Layout.PatternLayout">
          <conversionPattern value="%c"/>
        </layout>
      </parameter>
      <parameter>
        <parameterName value="message"/>
        <dbType value="String"/>
        <size value="4000"/>
        <layout type="log4net.Layout.PatternLayout">
          <conversionPattern value="%m"/>
        </layout>
      </parameter>
      <parameter>
        <parameterName value="exception"/>
        <dbType value="String"/>
        <size value="2000"/>
        <layout type="log4net.Layout.ExceptionLayout"/>
      </parameter>
    </appender>
    
    
  </log4net>
  <appSettings>
    <add key="CHECK_HIPOT" value="0" />
    <add key="HACK_ETIQUETAS" value="SI" />
    <add key="PrintErrorTests" value="0" />
    
    <add key="TIPO" value="IDU" />
    <add key="AUTO_CONEXION_DCF" value="0" />
    <!-- Si desea puede mopdificar la version del ensamblado en Properties->Assembly -->
    <!-- toma valores "IDU" y "ODU" unicamente -->
    <add key="AppSrvcsManager.OPCDAServer.exe" value="C:\Archivos de programa\Siemens\S7-200 PC Access\Bin\OPCDAServer.exe" />
    <add key="ReadSerialNumberFromScanner" value="1" />
    
    <add key="DIRECTORIO_IMAGEN_TEMP" value="\Imagenes\TMP\" />
    <add key="DIRECTORIO_IMAGENES_LOGO" value="\Imagenes\LOGO\" />
    <add key="DIRECTORIO_IMAGENES_CAPACIDAD" value="\Imagenes\CAPACIDAD\" />
    <add key="DIRECTORIO_IMAGENES_EAN13" value="\Imagenes\EAN13\" />
    <add key="DIRECTORIO_IMAGENES_DIMENSION" value="\Imagenes\DIMENSION\" />
    <add key="DIRECTORIO_IMAGENES_EXTRAS" value="\Imagenes\EXTRAS\" />
    
    <!--add key="DIRECTORIO_IMAGENES_LOGO" value="\Imagenes\" />
    <add key="DIRECTORIO_IMAGENES_CAPACIDAD" value="\Imagenes\" />
    <add key="DIRECTORIO_IMAGENES_EAN13" value="\Imagenes\" />
    <add key="DIRECTORIO_IMAGENES_DIMENSION" value="\Imagenes\" />
    <add key="DIRECTORIO_IMAGENES_EXTRAS" value="\Imagenes\" /-->

    <add key="ARCHIVO_MEDICIONES" value="\Mediciones\MedicionesODU.txt" />
    <add key="DDBB_FOConnString" value="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=W:\\wdir\\iduodu\\OF_DBAccess\\IDU\\MQCregister.mdb" />
    <!--<add key="DDBBConnString" value="server=172.29.29.44;uid=root;pwd=248;database=test_idu_odu;pooling=false;" /> /-->
    <add key="DDBBConnString" value="server=localhost;uid=root;pwd=248;database=test_idu_odu;pooling=false;" />
    <add key="DDBBDateTimeFormat" value="yyyy-MM-dd HH:mm:ss" />
    <add key="DDBBDateFormat" value="yyyy-MM-dd" />
    <add key="version_dcf" value="1" />

	  <add key="ImpresoraBulto" value="Zebra  ZM400 300 dpi (ZPL)" />
    <add key="ImpresoraProducto" value="Zebra  TLP3844-Z" />
    <add key="ImpresoraBultoHabilitada" value="1" />
    <add key="ImpresoraProductoHabilitada" value="1" />
    
    <add key="ServidorOPC" value="Tunneller:192.168.1.5:S7200.OPCServer" />
    <add key="DIRECTORIO_BATS" value="\Bats\" />
    <add key="DIRECTORIO_NUMERO_DE_SERIE" value="\NumeroDeSerie\"/>
    <!-- <add key="ServidorOPC" value="S7200.OPCServer"/> -->
    <add key="TEMP_MIN" value="22.5" />
    <add key="TEMP_MAX" value="30.5" />
    <add key="ModoEnsayoIDU" value="0" />
    <!--
    <add key="ALTURA_ETIQUETA_PRODUCTO_IDU" value="400" />
    <add key="ANCHO_ETIQUETA_PRODUCTO_IDU" value="400" />
    <add key="ALTURA_ETIQUETA_PRODUCTO_ODU" value="500" />
    <add key="ANCHO_ETIQUETA_PRODUCTO_ODU" value="400" />
    <add key="ANCHO_ETIQUETA_CAJA" value="400" />
    <add key="ALTO_ETIQUETA_CAJA" value="600" />
    <add key="ANCHO_ETIQUETA_CAJA_LARGA" value="236" />
    <add key="ALTO_ETIQUETA_CAJA_LARGA" value="1007" />
    -->
    <add key="ANCHO_PRODUCTO" value="190" />
    <add key="ALTO_PRODUCTO" value="380" />
    <add key="ANCHO_BULTO" value="570" />
    <add key="ALTO_BULTO" value="380" />

    <add key="TOP_PRODUCTO" value="65" />
    <add key="LEFT_PRODUCTO" value="13" />
    <add key="TOP_BULTO" value="30" />
    <add key="LEFT_BULTO" value="18" />
    
    <add key="DPI_PRODUCTO" value="300" />
    <add key="DPI_BULTO" value="300" />

    <add key="ANCHO_COD_EAN" value="480" />

    <add key="ALTURA_ETIQUETA_PRODUCTO_IDU" value="400" />
    <add key="ANCHO_ETIQUETA_PRODUCTO_IDU" value="500" />
    <add key="ALTURA_ETIQUETA_PRODUCTO_ODU" value="500" />
    <add key="ANCHO_ETIQUETA_PRODUCTO_ODU" value="400" />
    <add key="ANCHO_ETIQUETA_CAJA" value="400" />
    <add key="ALTO_ETIQUETA_CAJA" value="600" />
    <add key="ANCHO_ETIQUETA_CAJA_LARGA" value="236" />
    <add key="ALTO_ETIQUETA_CAJA_LARGA" value="1007" />

    <add key="ARCHIVO_ENSAYOSOK_ODU" value="\EnsayosOK\ODU.txt"/>
    <add key="ARCHIVO_ENSAYOSOK_IDU" value="\EnsayosOK\IDU.txt"/>
    
    <!-- Parametros Ensayo IDU -->
    <add key="IDU_SP_RetardoComandoInicial4" value="IDU_SP_RetardoComandoInicial4" />
    <add key="IDU_SP_RetardoComandoInicialMitad" value="IDU_SP_RetardoComandoInicialMitad" />
    <add key="IDU_SP_TimeoutArranqueInicialCalor" value="IDU_SP_TimeoutArranqueInicialCalor" />
    <add key="IDU_SP_TimeoutArranqueInicialFrio" value="IDU_SP_TimeoutArranqueInicialFrio" />
    <add key="IDU_SP_TiempoRetardoComandoBajaTension" value="IDU_SP_TiempoRetardoComandoBajaTension" />
    <add key="IDU_SP_TimeoutEnsayoBajaTension" value="IDU_SP_TimeoutEnsayoBajaTension" />
    <add key="IDU_SP_TiempoEnsayoBajaVelocidad" value="IDU_SP_TiempoEnsayoBajaVelocidad" />
    <add key="IDU_SP_TiempoEnsayoAltaVelocidad" value="IDU_SP_TiempoEnsayoAltaVelocidad" />
    <add key="IDU_SP_TiempoRetardoAvisoFinal" value="IDU_SP_TiempoRetardoAvisoFinal" />
    <add key="IDU_SP_TiempoRetardoFinalizacionEnsayo" value="IDU_TiempoRetardoFinalizacionFinalizacionEnsayo" />
    <add key="TiempoApagadoCalorFrio" value="TiempoApagadoCalorFrio" />
    <add key="IDU_SP_MinimaVelocidadAdmisibleEnsayoBajaTension" value="IDU_SP_MinimaVelocidadAdmisibleEnsayoBajaTension" />
    <add key="IDU_SP_MaximaVelocidadAdmisibleEnsayoBajaTension" value="IDU_SP_MaximaVelocidadAdmisibleEnsayoBajaTension" />
    <add key="IDU_SP_MinimaCorrienteAdmisibleEnsayoBajaTension" value="IDU_SP_MinimaCorrienteAdmisibleEnsayoBajaTension" />
    <add key="IDU_SP_MaximaCorrienteAdmisibleEnsayoBajaTension" value="IDU_SP_MaximaCorrienteAdmisibleEnsayoBajaTension" />
    <add key="IDU_SP_MinimaVelocidadAdmisibleEnsayoBajaVelocidad" value="IDU_SP_MinimaVelocidadAdmisibleEnsayoBajaVelocidad" />
    <add key="IDU_SP_MaximaVelocidadAdmisibleEnsayoBajaVelocidad" value="IDU_SP_MaximaVelocidadAdmisibleEnsayoBajaVelocidad" />
    <add key="IDU_SP_MinimaCorrienteAdmisibleEnsayoBajaVelocidad" value="IDU_SP_MinimaCorrienteAdmisibleEnsayoBajaVelocidad" />
    <add key="IDU_SP_MaximaCorrienteAdmisibleEnsayoBajaVelocidad" value="IDU_SP_MaximaCorrienteAdmisibleEnsayoBajaVelocidad" />
    <add key="IDU_SP_MinimaVelocidadAdmisibleEnsayoAltaVelocidad" value="IDU_SP_MinimaVelocidadAdmisibleEnsayoAltaVelocidad" />
    <add key="IDU_SP_MaximaVelocidadAdmisibleEnsayoAltaVelocidad" value="IDU_SP_MaximaVelocidadAdmisibleEnsayoAltaVelocidad" />
    <add key="IDU_SP_MinimaCorrienteAdmisibleEnsayoAltaVelocidad" value="IDU_SP_MinimaCorrienteAdmisibleEnsayoAltaVelocidad" />
    <add key="IDU_SP_MaximaCorrienteAdmisibleEnsayoAltaVelocidad" value="IDU_SP_MaximaCorrienteAdmisibleEnsayoAltaVelocidad" />
    <!-- Ensayos IDU-->
    <add key="HipotEnsayoIDU" value="IDU_HipotEnsayo" />
    <add key="FugaEnsayoIDU" value="IDU_FugaEnsayo" />
    <add key="TiempoEnsayoIDU" value="IDU_TiempoEnsayo" />
    <add key="IDU_VelocidadInicialEnsayo" value="IDU_VelocidadInicialEnsayo" />
    <add key="IDU_E_VelocidadBajaTension" value="IDU_E_VelocidadBajaTension" />
    <add key="IDU_E_VelocidadLow" value="IDU_E_VelocidadLow" />
    <add key="IDU_E_VelocidadHigh" value="IDU_E_VelocidadHigh" />
    <add key="IDU_E_CorrienteBajaTension" value="IDU_E_CorrienteBajaTension" />
    <add key="IDU_E_CorrienteLow" value="IDU_E_CorrienteLow" />
    <add key="IDU_E_CorrienteHigh" value="IDU_E_CorrienteHigh" />
    <add key="IDU_ST_EquipoEnsayadoOK" value="IDU_ST_EquipoEnsayadoOK" />
    <add key="IDU_ST_EnsayoEnCurso" value="IDU_ST_EnsayoEnCurso" />
    <add key="IDU_ST_EquipoEnsayadoFalla" value="IDU_ST_EquipoEnsayadoFalla" />
    <add key="IDU_ST_NumeroDeFalla" value="IDU_ST_NumeroDeFalla" />
    <!-- Monitoreo IDU-->
    <add key="IDU_MD_CorrienteMedida" value="IDU_MD_CorrienteMedida" />
    <add key="IDU_MD_VelocidadCalculada" value="IDU_MD_VelocidadCalculada" />
    <add key="IDU_ST_CopiaEstadoODU" value="IDU_ST_CopiaEstadoODU" />
    <add key="ModoCalorEstadoIDU" value="ModoCalorEstadoIDU" />
    <add key="IDU_Q_EntradaEstadoElectroVentilador" value="IDU_Q_EntradaEstadoElectroVentilador" />
    <add key="IDU_M_ActuacionManualBajaTension" value="IDU_M_ActuacionManualBajaTension" />
    <add key="IDU_M_ActuacionManualPruebaLamparas" value="IDU_M_ActuacionManualPruebaLamparas" />
    <add key="EnsayoEnSegundaParteMonitoreoIDU" value="EnsayoEnSegundaParteMonitoreoIDU" />
    <add key="IDU_M_ModoMantenimiento" value="IDU_M_ModoMantenimiento" />
    <add key="ControlRemotoMonitoreoIDU" value="ControlRemotoMonitoreoIDU" />
    <add key="IDU_Q_ComandoRemoto1" value="IDU_Q_ComandoRemoto1" />
    <add key="IDU_Q_ComandoRemoto2" value="IDU_Q_ComandoRemoto2" />
    <add key="IDU_Q_ComandoRemoto3" value="IDU_Q_ComandoRemoto3" />
    <add key="IDU_Q_ComandoRemoto4" value="IDU_Q_ComandoRemoto4" />
    <add key="TCTCIDU" value="TCTCIDU" />
    <add key="VelocidadTempIDU" value="IDU_VelocidadTemp" />
    <add key="IDU_ST_CopiaEstadoManual" value="IDU_ST_CopiaEstadoManual" />
    <add key="IDU_M_ActuacionManualAlimentacionIDU" value="IDU_M_ActuacionManualAlimentacionIDU" />
    <!-- Pantalla principal IDU-->
    <add key="IDU_ST_CopiaEstadoIDU" value="IDU_ST_CopiaEstadoIDU" />
    <add key="IDU_ST_CopiaEstadoODU" value="IDU_ST_CopiaEstadoODU" />
    <add key="ModoCalorEstadoIDU" value="ModoCalorEstadoIDU" />
    <add key="IDU_SP_ModeloSeleccionado" value="IDU_SP_ModeloSelecionado" />
    <add key="IDU_Q_ReleSeleccionBajaTension" value="IDU_Q_ReleSeleccionBajaTension" />
    <!-- Parametros Ensayo ODU -->
    <add key="ODU_SP_TimerEstabilizacionPresiones" value="ODU_SP_TimerEstabilizacionPresiones" />
    <add key="ODU_SP_TimeoutPresionInicial" value="ODU_SP_TimeoutPresionInicial" />
    <add key="ODU_SP_TimerEnsayoBajaTension" value="ODU_SP_TimerEnsayoBajaTension" />
    <add key="ODU_SP_TimeoutBajaTension" value="ODU_SP_TimeoutBajaTension" />
    <add key="ODU_SP_TimerEnsayoCalor" value="ODU_SP_TimerEnsayoCalor" />
    <add key="ODU_SP_TimeoutModoCalor" value="ODU_SP_TimeoutModoCalor" />
    <add key="ODU_SP_TimerEnsayoFrio" value="ODU_SP_TimerEnsayoFrio" />
    <add key="ODU_SP_TimerRecuperacionRefrigerante" value="ODU_SP_TimerRecuperacionRefrigerante" />
    <add key="ODU_SP_TimeoutRecuperacion" value="ODU_SP_TimeoutRecuperacion" />
    <add key="ODU_SP_TimerDelayArranqueCompresor" value="ODU_SP_TimerDelayArranqueCompresor" />
    <add key="ODU_SP_TiempoIDUOFFEntreFrioCalor" value="ODU_SP_TiempoIDUOFFEntreFrioCalor" />
    <add key="ODU_SP_TimerDelayCierreValvula1" value="ODU_SP_TimerDelayCierreValvula1" />
    <add key="ODU_SP_TimerDelayCierreValvula2" value="ODU_SP_TimerDelayCierreValvula2" />
    <add key="ODU_SP_DelayAntesIndicFinalizado" value="ODU_SP_DelayAntesIndicFinalizado" />
    <add key="ODU_SP_MinimaPresionAdmisibleInicio" value="ODU_SP_MinimaPresionAdmisibleInicio" />
    <add key="ODU_SP_MaximaPresionAdmisibleInicio" value="ODU_SP_MaximaPresionAdmisibleInicio" />
    <add key="ODU_SP_MinimaDiferenciaPresionInicio" value="ODU_SP_MinimaDiferenciaPresionInicio" />
    <add key="ODU_SP_MaximaDiferenciaPresionInicio" value="ODU_SP_MaximaDiferenciaPresionInicio" />
    <add key="ODU_SP_MinimaVelocidadCompresor" value="ODU_SP_MinimaVelocidadCompresor" />
    <add key="ODU_SP_MinimaDiferenciaPresionCompresor" value="ODU_SP_MinimaDiferenciaPresionCompresor" />
    <add key="ODU_SP_MaximaDiferenciaPresionCompresor" value="ODU_SP_MaximaDiferenciaPresionCompresor" />
    <add key="ODU_SP_MinimaDiferenciaTemperaturaCalor" value="ODU_SP_MinimaDiferenciaTemperaturaCalor" />
    <add key="ODU_SP_MaximaDiferenciaTemperaturaCalor" value="ODU_SP_MaximaDiferenciaTemperaturaCalor" />
    <add key="ODU_SP_MinimaCorrienteEnsayoCalor" value="ODU_SP_MinimaCorrienteEnsayoCalor" />
    <add key="ODU_SP_MaximaCorrienteEnsayoCalor" value="ODU_SP_MaximaCorrienteEnsayoCalor" />
    <add key="ODU_SP_MinimaPotenciaEnsayoCalor" value="ODU_SP_MinimaPotenciaEnsayoCalor" />
    <add key="ODU_SP_MaximaPotenciaEnsayoCalor" value="ODU_SP_MaximaPotenciaEnsayoCalor" />
    <add key="ODU_SP_MinimaVelocidadEnsayoCalor" value="ODU_SP_MinimaVelocidadEnsayoCalor" />
    <add key="ODU_SP_MaximaVelocidadEnsayoCalor" value="ODU_SP_MaximaVelocidadEnsayoCalor" />
    <add key="ODU_SP_MinimaPresionAdmisibleDesactivarValvula4Vias" value="ODU_SP_MinimaPresionAdmisibleDesactivarValvula4Vias" />
    <add key="ODU_SP_MinimaDiferenciaTemperaturaEnsayoFrio" value="ODU_SP_MinimaDiferenciaTemperaturaEnsayoFrio" />
    <add key="ODU_SP_MaximaDiferenciaTemperaturaEnsayoFrio" value="ODU_SP_MaximaDiferenciaTemperaturaEnsayoFrio" />
    <add key="ODU_SP_MaximaCorrienteEnsayoFrio" value="ODU_SP_MaximaCorrienteEnsayoFrio" />
    <add key="ODU_SP_MinimaCorrienteEnsayoFrio" value="ODU_SP_MinimaCorrienteEnsayoFrio" />
    <add key="ODU_SP_MinimaPotenciaEnsayoFrio" value="ODU_SP_MinimaPotenciaEnsayoFrio" />
    <add key="ODU_SP_MaximaPotenciaEnsayoFrio" value="ODU_SP_MaximaPotenciaEnsayoFrio" />
    <add key="ODU_SP_MinimaVelocidadEnsayoFrio" value="ODU_SP_MinimaVelocidadEnsayoFrio" />
    <add key="ODU_SP_MaximaVelocidadEnsayoFrio" value="ODU_SP_MaximaVelocidadEnsayoFrio" />
    <add key="ODU_SP_MinimaPresionEnsayoFrio" value="ODU_SP_MinimaPresionEnsayoFrio" />
    <add key="ODU_SP_MaximaPresionEnsayoFrio" value="ODU_SP_MaximaPresionEnsayoFrio" />
    <add key="ODU_SP_MaximaPresionAdmisibleRecuperacionRefrigerante" value="ODU_SP_MaximaPresionAdmisibleRecuperacionRefrigerante" />
    <!-- Ensayos ODU-->
    <add key="ODU_E_TiempoEnsayo" value="ODU_E_TiempoEnsayo" />
    <add key="ODU_E_Vacio" value="ODU_E_Vacio" />
    <add key="ODU_E_Fuga" value="ODU_E_Fuga" />
    <add key="ODU_E_Hipot" value="ODU_E_Hipot" />
    <add key="ODU_E_Cor_TempAltaCalor" value="ODU_E_Cor_TempAltaCalor" />
    <add key="ODU_E_Cor_TempAltaFrio" value="ODU_E_Cor_TempAltaFrio" />
    <add key="ODU_E_Cor_BajaFrio" value="ODU_E_Cor_BajaFrio" />
    <add key="ODU_E_TempAltaCalor" value="ODU_E_TempAltaCalor" />
    <add key="ODU_E_TempAltaFrio" value="ODU_E_TempAltaFrio" />
    <add key="ODU_E_Cosf_Calor" value="ODU_E_Cosf_Calor" />
    <add key="ODU_E_Cosf_Frio" value="ODU_E_Cosf_Frio" />
    <add key="ODU_E_Hum_Calor" value="ODU_E_Hum_Calor" />
    <add key="ODU_E_Hum_Frio" value="ODU_E_Hum_Frio" />
    <add key="ODU_E_Pot_Alta_Calor" value="ODU_E_Pot_Alta_Calor" />
    <add key="ODU_E_Pot_Alta_Frio" value="ODU_E_Pot_Alta_Frio" />
    <add key="ODU_E_Pres_BajaTension" value="ODU_E_Pres_BajaTension" />
    <add key="ODU_E_Pres_Calor" value="ODU_E_Pres_Calor" />
    <add key="ODU_E_Pres_Frio" value="ODU_E_Pres_Frio" />
    <add key="ODU_E_Pres_Inicial" value="ODU_E_Pres_Inicial" />
    <add key="ODU_E_TempAmbiente_Calor" value="ODU_E_TempAmbiente_Calor" />
    <add key="ODU_E_TempAmbiente_Frio" value="ODU_E_TempAmbiente_Frio" />
    <add key="ODU_E_Ten_Alta_Calor" value="ODU_E_Ten_Alta_Calor" />
    <add key="ODU_E_Ten_Alta_Frio" value="ODU_E_Ten_Alta_Frio" />
    <add key="ODU_E_Ten_Baja" value="ODU_E_Ten_Baja" />
    <add key="ODU_E_Vel_Alta_Calor" value="ODU_E_Vel_Alta_Calor" />
    <add key="ODU_E_Vel_Alta_Frio" value="ODU_E_Vel_Alta_Frio" />
    <add key="ODU_E_Vel_Baja" value="ODU_E_Vel_Baja" />
    <add key="ODU_ST_EnsayoEnCurso" value="ODU_ST_EnsayoEnCurso" />
    <add key="ODU_ST_CodigoDeFalla" value="ODU_ST_CodigoDeFalla" />
    <add key="ODU_ST_EnsayoAprobado" value="ODU_ST_EnsayoAprobado" />
    <add key="ODU_ST_EnsayoFalla" value="ODU_ST_EnsayoFalla" />
    <add key="ODU_E_Pres_Recuperacion" value="ODU_E_Pres_Recuperacion" />
    <!--Monitoreo ODU-->
    <add key="ODU_MD_TempEntrada" value="ODU_MD_TempEntrada" />
    <add key="ODU_MD_TempSalida" value="ODU_MD_TempSalida" />
    <add key="ODU_MD_Humedad" value="ODU_MD_Humedad" />
    <add key="ODU_MD_Presion" value="ODU_MD_Presion" />
    <add key="ODU_MD_TensionEstado" value="ODU_MD_TensionEstado" />
    <add key="ODU_MD_Corriente" value="ODU_MD_Corriente" />
    <add key="ODU_MD_Potencia" value="ODU_MD_Potencia" />
    <add key="ODU_MD_Velocidad" value="ODU_MD_Velocidad" />
    <add key="ODU_I_TermistorOK" value="ODU_I_TermistorOK" />
    <add key="ODU_M_ModoCalor" value="ODU_M_ModoCalor" />
    <add key="ODU_Q_BajaTension" value="ODU_M_BajaTension" />
    <add key="ODU_Q_ReleAlimentacionPlacaTCTC" value="ODU_Q_ReleAlimentacionPlacaTCTC" />
    <add key="ODU_Q_ControlRemotoCalor" value="ODU_Q_ControlRemotoCalor" />
    <add key="ODU_Q_ControlRemotoFrioHigh" value="ODU_Q_ControlRemotoFrioHigh" />
    <add key="ODU_Q_ControlRemotoFrioLow" value="ODU_Q_ControlRemotoFrioLow" />
    <add key="ODU_Q_ControlRemotoStop" value="ODU_Q_ControlRemotoStop" />
    <add key="ODU_ST_CopiaBitMantenimiento" value="ODU_ST_CopiaBitMantenimiento" />
    <add key="ODU_M_PruebaLamparas" value="ODU_M_PruebaLamparas" />
    <!--Pantalla Principal ODU-->
    <add key="ODU_Q_TensionNominal" value="ODU_Q_TensionNominal" />
    <add key="ODU_ST_DummyPres" value="ODU_ST_DummyPres" />
    <!-- TODO: add key=" " value="" />
    <add key=" " value="" /-->
    <add key="ODU_Q_BajaTension" value="ODU_Q_BajaTension" />
    <add key="ODU_SP_NumeroModeloCargado" value="ODU_SP_NumeroModeloCargado" />
    <!--Variables PLC IDU-->
    <add key="VPLCI0" value="IDU_SP_OffsetConversorDeCorriente/Offset conversor de corriente/REAL" />
    <add key="VPLCI1" value="IDU_SP_GananciaConversorDeCorriente/Ganancia conversor de corriente/REAL" />
    <add key="VPLCI2" value="IDU_SP_CantidadDeEnsayosParteB/Cantidad de ensayos habilitados en parte B/BYTE" />
    <!--add key="VPLCI3" value="IDU_SP_ModoSeleccionado/Modo de ensayo ( 0 = Completo | 1 = Parte A | 2 = Parte B) /INT" /-->
    <add key="VPLCI4" value="IDU_PLC/Identificacion del DCF/BYTE" />
    <add key="VPLCI5" value="IDU_ST_NumeroMaximoFichas/Cantidad de ensayos habilitados en parte B Maximo/BYTE" />
    <!-- IDU_SP_IdentificacionDelDCF -->
    <!--Variables PLC ODU-->
    <add key="VPLCO0" value="ODU_SP_GananciaTempEntrada/Ganancia sensor de temp. entrada/REAL" />
    <add key="VPLCO1" value="ODU_SP_OffsetTempEntrada/Ofsset sensor de temp. entrada/REAL" />
    <add key="VPLCO2" value="ODU_SP_GananciaTempSalida/Ganancia sensor de temp. salida/REAL" />
    <add key="VPLCO3" value="ODU_SP_OffsetTempSalida/Ofsset sensor de temp. salida/REAL" />
    <add key="VPLCO4" value="ODU_SP_GananciaHumedadRelativa/Ganancia sensor de humedad/REAL" />
    <add key="VPLCO5" value="ODU_SP_OffsetHumedadRelativa/Ofsset sensor de humedad/REAL" />
    <add key="VPLCO6" value="ODU_SP_GananciaPresionSuccion/Ganancia sensor de presion/REAL" />
    <add key="VPLCO7" value="ODU_SP_OffsetPresionSuccion/Ofsset sensor de presion/REAL" />
    <add key="VPLCO8" value="ODU_SP_IdentificacionDCF/Identificacion del DCF/BYTE" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>
